header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 100px;

    h1 {
        color: #901C1C;
    }

    .logo-link {
        .logo {
            height: 50px;
        }

        &:focus {
            outline: 2px solid $primary;
        }
    }
}