.modal-media {
    background: $white;
    max-width: 100vw;
    max-height: 100vh;

    article {
        padding: 62px 124px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .media-container {
           width: 100%;
           height: 100%;

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
            video {
                width: 100%;
                height: 100%;
                aspect-ratio: 1920 / 1080;
            }
        }

        h1 {
            font-size: $f24;
            font-weight: normal;
            margin: .8rem 0 0;
        }
    }

    .modal-button {
        position: absolute;
        top: 50%;
        cursor: pointer;
        border: none;
        background: none;

        svg {
            pointer-events: none;
            path{
                fill: $primary;
            }
        }

        &.left-button {
            left: 1rem;
        }
        &.right-button {
            right: 1rem;
        }
        &.close-modal {
            top: 3rem;
            right: 1rem;
        }
    }
}