.filter-container {
    padding: 2rem 0;

    .left-area {
        display: flex;
        font-size: $f18;
        font-weight: 700;

        .label {
            
        }

        #options-wrapper {
            margin-left: 1rem;
            position: relative;
            width: 170px;

            button {
                width: 100%;
                border: none;
                font-weight: 700;
                font-size: $f18;
                height: 60px;
                padding: 0 3rem 0 1.35rem;
                background-color: $primary;
                color: $white;
                border-radius: 5px;
                cursor: pointer;
                position: relative;

                &::after {
                    position: absolute;
                    content: url("arrow.svg");
                    top: 50%;
                    right: 1rem;
                    transform: translateY(-50%)  rotate(0);
                    z-index: 100;
                }
                &[aria-expanded]::after {
                    transform: translateY(-50%) rotate(180deg);
                }

                svg {
                    margin-left: 1rem;
                    transform: rotate(180deg);

                    path {
                        fill: $white;
                    }
                }
            }

            ul {
                border-radius: 5px;
                background: $primary;
                color: $white;
                list-style: none;
                position: absolute;
                top: 0;
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    padding: 1rem 1rem 1rem 1.5rem;
                    position: relative;
                    border-radius: 5px;
                    cursor: pointer;
                    

                    &:not(:last-child)::before {
                        content: "";
                        width: 90%;
                        height: 1px;
                        background: $white;
                        position: absolute;
                        top: 100%;
                        left: 5%;
                    }
                }

                &.hidden {
                    display: none;
                }
            }
        }
    }
}


.focused {
    background: #6f1515;
}